body{
    background: linear-gradient(rgb(0, 247, 255), rgb(5, 105, 255), rgb(17, 31, 224));
    background-attachment: fixed;
    text-align: center;
    color: rgb(7, 51, 170);

}
input{
    color:rgb(7, 51, 170);
    border: 1px solid black;
    border-style: outset;
}
input::placeholder{
    color: blue;
}
